@charset "utf-8";
/* CSS Document */

html, html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;

}

div{
	text-align: center;
}

.button{
	border: 2px #000000 solid;
	padding: 8px 30px;
	border-radius: 30px;
	text-decoration: none;
}


video{
	position: relative;
	width: 96%;
}


@media (min-width: 768px){
	
	
img{
	width: 100%;
	max-width: 50%;
	height: auto;
	vertical-align: middle;
	}
	
video{
	position: relative;
	width: 48%;
	}
	
.back{
	position: relative;
	top: -20px;
	left: 0;
	}
	
.back_1{
	position: relative;
	top:-30px;
	}
	
.GAS05{
	position: relative;
	width: 96.5%;
	margin: auto;
	}
	
.GAS06{
	position: relative;
	width: 100%;
	top: -10px;
	}
	 
.GAS06_1{
	position: relative;
	width: 96.4%;
	margin: auto;
	}
.GAS07{
	position: relative;
	width: 96.4%;
	margin: auto;
	}
.GAS07_1{
	position: relative;
	top: -10px;
	}
/*	
.box{
	float : none;
	width : 500px;
	height : 515px;
	margin : -17px 200px;
	}
.box:hover .front{transform: translateX(100px);}
.box:hover .back{transfrom: translateX(-100px);}
	
.front{transfrom: translateX(0px); transition: all 0.8s ease;}
.back{transform: translateX(0px); transition: all 0.8s ease;}
	*/
}